 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  width: 322px;
  margin: 20px auto 0;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 323px;
  height: auto;
  margin: 89px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 24px;
}

.u-section-1 .u-text-3 {
  margin: 45px auto 0;
}

.u-section-1 .u-image-2 {
  width: 77px;
  height: 115px;
  margin: -115px auto 0 10px;
}

.u-section-1 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/concept-art-minecraft-biome-swamp-1024x517.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 19px;
}

.u-section-1 .u-image-4 {
  width: 68px;
  height: 100px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-5 {
  margin: -59px auto 0;
}

.u-section-1 .u-text-6 {
  text-shadow: 0px 0px 8px rgba(88,188,72,1);
  width: 409px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    height: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-text-6 {
    width: 320px;
  }
}